@font-face {
  font-family: 'MonumentUltrabold';
  src: url('./fonts/MonumentExtended-Ultrabold.otf') format('truetype');
}

@font-face {
  font-family: 'MonumentRegular';
  src: url('./fonts/MonumentExtended-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
}

body {
  font-family: 'MonumentRegular', sans-serif;
  margin: 0;
}